<div tabindex="-1">
    <div class="overflow-hidden br3 bg-gray-0 w-90 -popup___2v" data-test="confirm-dialog">
        <div class="lh-title br3 br--top fw5 f-lg flex flex-nowrap items-center justify-between -head___20">
            <div class="-title___Nx">Delete Asset</div>
            <div class="pointer" data-test="close-btn">
                <div class="svgIconWrapper box-sm lh-sm fill-gray-60 hover-fill-gray-70" data-test="svg-icon-wrapper">
                    <svg class="svgIcon" preserveAspectRatio="xMidYMid" viewBox="0 0 24 24">
                        <path d="M24 2.417 21.583 0 12 9.583 2.417 0 0 2.417 9.583 12 0 21.583 2.417 24 12 14.417 21.583 24 24 21.583 14.417 12z"></path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="-body___1U modal-body gray-70 lh-md" data-test="modal-body">Are you sure you want to delete the selected asset?</div>
        <div class="flex flex-nowrap flex-row-reverse justify-between -footer___2g">
            <button data-test="confirm-dialog-confirm-btn" class="-button___3M -destructive___xe -md___Uh">
                <div class="flex-nowrap items-center justify-center flex">Delete</div>
            </button>
            <button data-test="confirm-dialog-cancel-btn" class="-button___3M pl0 -secondary___Oz -md___Uh">
                <div class="flex-nowrap items-center justify-center flex">Cancel</div>
            </button>
        </div>
    </div>
</div>